.outerDiv{
//   margin: 20px 20px 20px 20px;
margin:10% auto;
padding:32px 16px 32px 16px;
color:#FFFFFF;

// box-shadow: 6px 6px 43px 8px rgb(0 0 12%)
// box-shadow: 6px 6px 43px 8px black


//     X: 464px;
// Y: 233px
// W: 512px
// H: 566px
// Corner radius: 8px
   
    
}
// Width
// Hug (512px)
// Height
// Hug (566px)
// Top
// 233px
// Left
// 464px
// Radius
// 8px
// Padding
// 32px, 16px, 32px, 16px
// Gap
// 32px
// Blend
// Pass through